<div class="row-fluid">
    <!-- block -->
    <div class="block">
        <div class="navbar navbar-inner block-header">
            <div class="muted pull-left">프로젝트 "<%= @project.title %>" 정보 보기</div>
        </div>
        <div class="block-content collapse in">
            <div class="span12">
                 <form class="form-horizontal">
                  <fieldset>
                    <div class="control-group">
                      <label class="control-label">노출순서</label>
                      <div class="controls">
                        <span class=""><%= @project.order_no %></span>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">썸네일 이미지</label>
                      <div class="controls">
                        <%= image_tag @project.project_thumbnail %>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">파트너 로고</label>
                      <div class="controls partner_logo" style="background: #bbb">
                        <%= image_tag @project.partner_logo %>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="focusedInput">제목</label>
                      <div class="controls">
                        <span class="input-xlarge uneditable-input"><%= @project.title %></span>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">상세설명</label>
                      <div class="controls">
                        <div class="well"><%= @project.description %></div>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">큰 이미지</label>
                      <div class="controls">
                        <% @project.project_pictures.each do |picture|%>
                          <p><%= image_tag picture.project_big.url(:thumb) %></p>
                        <% end %>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">동영상 링크</label>
                      <div class="controls ">
                        <%= @project.video_link %>
                      </div>
                    </div>

                    <div class="control-group">
                      <label class="control-label">프로젝트 제작일</label>
                      <div class="controls">
                        <span class=""><%= @project.made_at %></span>
                      </div>
                    </div>
                    
                    <div class="control-group">
                      <label class="control-label">클라이언트</label>
                      <div class="controls">
                        <span class=""><%= @project.client %></span>
                      </div>
                    </div>
                    
                    <div class="control-group">
                      <label class="control-label">카테고리</label>
                      <div class="controls">
                        <span class=""><%= @project.category %></span>
                      </div>
                    </div>
                    
                    <div class="control-group">
                      <label class="control-label">프로젝트 사이트 주소</label>
                      <div class="controls">
                        <span class=""><%= @project.website_link %></span>
                      </div>
                    </div>
                    
                    <div class="control-group">
                      <label class="control-label">등록일시</label>
                      <div class="controls">
                        <span class=""><%= @project.created_at %></span>
                      </div>
                    </div>
                    
                    <div class="form-actions">
                      <%= link_to "목록으로", admin_projects_path, class: "btn"%>
                      <%= link_to "수정", edit_admin_project_path(@project), class: "btn btn-primary"%>
                    </div>
                  </fieldset>
                </form>

            </div>
        </div>
    </div>
    <!-- /block -->
</div>