<div id="wrapper">
	<div class="container pos-center projects">
    <% if is_mobile? %>
      <div class="close_button">
        <%= link_to home_path do %>
          <img src="/img/prjct-close.png"/>
        <% end %>
      </div>
    <% end %>
		
		<p class="margint5"><%= @project.sub_title %></p>
		<div class="project-slider margint40">
      <% unless (@project.video_link.nil? or @project.video_link == "") %>
      <div class="flex-video">
        <%=raw @project.video_link %>
      </div>
      <% else %>
        <div class="slider-wrapper theme-default">
          <% if is_mobile? %>
           <div id="project-slider-wrapper" class="">
          <% else %>
            <div id="project-slider-wrapper" class="nivoSlider">
          <% end %>
            <% unless @project.project_pictures.empty? %>
              <% @project.project_pictures.each do |picture| %>
                <%= image_tag picture.project_big.url, class: "img-responsive" %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
		</div>
		<div class="row margint50 pos-left project-info-box">
			<div class="col-lg-6">
				<h2 class="font-Oswald margint20"><%= @project.title %></h2>
				<p class="margint5"><%= @project.sub_title %></p>
				<p class="margint5"><%= @project.description %></p>
			</div>
			<div class="col-lg-6">
				<ul class="project-det margint10">
					<li class="clearfix">
						<div class="pull-left list-title">CATEGORY</div>
						<div class="pull-right list-desc"><%= @project.category %></div>
					</li>
					<li class="clearfix">
						<div class="pull-left list-title">CLIENT</div>
						<div class="pull-right list-desc"><%= @project.client %></div>
					</li>
          <!-- <li class="clearfix">
            <div class="pull-left list-title">DATE</div>
            <div class="pull-right list-desc">
              <%#= @project.made_at.strftime("%Y. %m") unless @project.made_at.nil? %>
            </div>
          </li> -->
          <% unless (@project.website_link.nil? or @project.website_link == "") %>
  					<li class="clearfix">
  						<div class="pull-left list-title">PROJECT WEBSITE</div>
  						<div class="pull-right list-desc">
                  <%= link_to @project.website_link do %>
                    <%= @project.website_link.html_safe %>&nbsp<i class="icon-external-link"></i>
                  <% end %>
              </div>
  					</li>
          <% end %>
				</ul>
			</div>
	</div>
</div>
<script src="/js/vendor/jquery-1.10.1.min.js"></script>
<script src="/js/jquery.nicescroll.min.js"></script>
<script src="/js/jquery.nivo.slider.pack.js"></script>
<script src="/js/retina-1.1.0.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
	var projectWinH = $(window).height();
	$('.projects').css('height',projectWinH+10);
	$("html").niceScroll();
  var width = $(window).width();
  if (width > 767){
  	$('#project-slider-wrapper').nivoSlider({
  		effect: 'fade',
  		controlNav: false
  	});
    $('.img-responsive').css('position','absolute');
    $('.img-responsive').css('display','hidden');
    
  } else {
    $('.img-responsive').width((width-30)+"px");
    $('.img-responsive').css('margin-bottom','10px');
  }
	});
</script>